# Glassfish
secure         = true
container      = Glassfish
home           = /opt/payara6
port           = 4848

# WildFly
!secure         = false
!container      = JBoss
!home           = /opt/wildfly
!port           = 9990
